/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Forms
	#Misc */

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

code {
    padding: 3px 6px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    background: #fcfcfc;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #3f8faf;
}

/* #Basic Styles
================================================== */
body {
    background: #fff;
    font: 12px Arial, sans-serif;
    color: #606060;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

/* Basic Alginment
================================================== */
.columns img, .column img {
    max-width: 100%;
    height: auto;
}

.content img {
    border: 1px solid #dfdfdf;
    margin-bottom: 15px;
}

.item-img img {
    width: 100%;
    height: auto;
}

.align-left {
    float: left;
}

.align-center {
    text-align: center;
}

.align-right {
    float: right
}

img.align-left {
    float: left;
    margin: 0 15px 12px 0;
}

img.align-center {
    text-align: center;
    clear: both;
    margin: 15px auto;
    display: block;
}

img.align-right {
    float: right;
    margin: 0 0 12px 15px;
}

img, object, video {
    max-width: 100%;
    height: auto;
    display: block;
}

img {
    width: auto;
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Flexible Embeds */
.embed {
    position: relative;
    padding: 0px;
    padding-bottom: 56.25%; /* 16/9 ratio */
    height: 0;
    overflow: hidden;
}

.embed iframe,
.embed object,
.embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clearfix {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

.image-left {
    float: left;
    margin: 0 15px 8px 0;
    padding: 3px;
    border: 1px solid #dedede;
}

.image-right {
    float: right;
    margin: 0 0 8px 15px;
    padding: 3px;
    border: 1px solid #dedede;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
    color: #444;
    font-family: Arial, sans-serif;
    font-weight: bold;

}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 28px;
    line-height: 50px;
}

h2 {
    font-size: 22px;
    line-height: 30px;
}

h3 {
    font-size: 18px;
    line-height: 34px;
}

h4 {
    font-size: 16px;
    line-height: 30px;
}

h5 {
    font-size: 14px;
    line-height: 24px;
}

h6 {
    font-size: 12px;
    line-height: 21px;
}

.subheader {
    color: #777;
}

p {
    margin: 0 0 15px 0;
    line-height: 20px;
}

p img {
    margin: 0;
}

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
    color: #333;
}

small {
    font-size: 80%;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

/* #Links
================================================== */
a, a:visited {
    color: #3f8faf;
    text-decoration: none;
    outline: 0;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    -transition: color 0.1s ease-in-out;
}

a:hover, a:focus {
    color: #888;
}

p a, p a:visited {
    line-height: inherit;
}

/* #Lists
================================================== */
ul, ol {
    margin: 0;
}

ul {
    list-style: none outside;
}

ol {
    list-style: decimal;
}

ol, ul.square, ul.circle, ul.disc {
    margin-left: 30px;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul, ul ol,
ol ol, ol ul {
}

ul ul li, ul ol li,
ol ol li, ol ul li {
}

li {
    line-height: 18px;
}

ul.large li {
    line-height: 21px;
}

li p {
    line-height: 21px;
}

/* #Images
================================================== */
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}

/* #Forms
================================================== */
form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #d8d8d8;
    padding: 9px;
    outline: none;
    font: 12px Arial, sans-serif;
    color: #888;
    margin: 0;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

select {
    padding: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #c8c8c8;
    color: #606060;
}

textarea {
    min-height: 60px;
}

label,
legend {
    display: block;
    font-weight: bold;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}

select {
}

input[type="checkbox"] {
    display: inline;
}

label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
}

/* #Misc
================================================== */
.remove-bottom {
    margin-bottom: 0 !important;
}

.half-bottom {
    margin-bottom: 10px !important;
}

.add-bottom {
    margin-bottom: 20px !important;
}


